<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <title>place order🍔🐀</title>

</head>
<body>
<!-- Main Body of Page -->
<h4><a href="/" class="text-dark"> << back to main menu 🍔🐀</a></h4>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Place your yummy order</h1>
    <p class="lead">Not sure what to pick? Browse our partnered restaurants through the main menu options!</p>
  </div>
</div>

<div class="row m-3 border border-dark">
  <div class="col-3 text-center m-3"><span class="h3">Order Information</span> </div>
  <div class="col text-center m-3">
  </div>
  <div class="col-7 text-left m-3">
    <form action="addOrder" method="POST">
      <div class="form-group row">
        <label for="foodPlaceId" class="col-3 col-form-label">
          Food Place ID:</label>
        <div class="col-lg-3" >
          <!--  <input type="text" name="foodPlaceId"
                  id="foodPlaceId" class="form-control"/>-->
          <select class="form-control" id="foodPlaceId" name="foodPlaceId">
            <option value="">Select Test Order</option>
            <option th:each="foodPlace : ${foodPlaces}"
                    th:value="${foodPlace.id}"
                    th:text="${foodPlace.id}+' : '+${foodPlace.name}"></option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="foodBundle" class="col-3 col-form-label">
          Food Bundle:</label>
        <div class="col-9">
          <select name="foodBundle" id="foodBundle">
            <option value="Small">Small</option>
            <option value="Large">Large</option>
            <option value="Family">Family</option>
            <option value="Little Rodent's Choice">Little Rodent's Choice</option>
          </select>

        </div>
      </div>
      <div class="col text-right m-3">
        <span class="h3"> </span>
        <button type="submit" class="btn btn-primary">Place order</button>
      </div>
    </form>
  </div>
</div>



<!-- End main body -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>